/**************************************
LIQUID LAYOUT CSS
**************************************/

/* .wrapper {
  width: 100%;
}

nav, section {
  float: left;
}

nav {
  width: 20.83333%;
  margin-right: 1.041667%;
}

section {
  width: 78.125%;
} */


/* .nav{
  display: grid;
  grid-template-columns: 40%;
  grid-template-rows: 40%;
  grid-gap: 1%;

  color:white;
  font-family: Arial,Helvetica,sans-serif;
  font-size:1.500em;
} */

.header{
  background: #34B3AE;
  overflow: hidden;
}

.header h1{
  font-family: "Josefin Sans";
  color: #FFF;
}

.nav ul {
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.nav ul li a {
  text-decoration: none;
  color: #FC8A4C;
  padding: 1.5rem;
  text-decoration: none;
  border: 1px solid;
border-radius: .5em;
padding: .5em 1em;
margin: .5em;
background-color: #FFF;
  font-family: "Montserrat";
}

.nav a:hover {
  color: #B04912;
  transform: scale(1.2);
}

.nav a:active{
  color: #FFFFFF;
  background-color: #D9D9D9;
}

.nav{
  display: grid;
  grid-template-columns: 6fr 6fr;
  align-items: center;
  margin: auto;
  width: 100%;
}



.wrapper {

    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    grid-gap: 1%;

    text-align: center;
    color:black;
    font-family: "Open Sans";
    font-size:1.5000em;


}

#item1{
	grid-column-start: 1;
    grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background: #D9D9D9;


}

#item2{
	grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
/* border: dashed blue 1px; */

}

img{
  max-height: 100%;
max-width: 100%;

}
#item3{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  border: dashed blue 1px; */

}
#item4{
	grid-column-start: 3;
    grid-column-end: 4;

}
#item5{
  grid-column-start: 3;
    grid-column-end: 4;
    border: dashed blue 1px;

}
#item6{
}
#item7{
  grid-row-start: 10;
}



}

@media (max-width: 600px) {
  .wrapper {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
/* #item2{
	background-color: #FFA07A;
	grid-row-start: 2;
    grid-row-end: 4;
}
#item3{
	background-color: #FCFC40;
}
#item4{
	background-color: #93EC90;
	grid-column-start: 2;
    grid-column-end: 4;
}
#item5{
	background-color: #EC90EC;
}
#item6{
	background-color: #0DFCFC;
} */
